.copyright {
  background-color: #2a2a2a;
  padding: 40px 0;
}

.copyright-title {
  color: #767676;
  font-size: 12px;
}

.yout-ic {
  background-image: url(../img/footer/youtube.png);
  background-repeat: no-repeat;
  background-position: 5px -18px;
  margin-top: 11px;
  width: 16px;
  height: 16px;
}

.yout-ic:hover {
  background-position: 5px 0;
}

.icon--color {
  color: #a1a1a1;
}

.icon--color:hover {
  color: $hover-color;
}

@media screen and (min-width: 480px) {
  .copyright-container {
    flex-direction: row !important;
    justify-content: space-between;
  }

  .copyright-container .nav-link {
    padding: 8px 8px;
  }

  .yout-ic {
    padding: 8px 16px !important;
  }
}

@media screen and (min-width: 580px) {
  .copyright-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .copyright-container {
    display: grid !important;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .copyright-title {
    text-align: center;
    font-size: 16px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  .copyright-container .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: auto;
  }
}
