.footer--bg {
  background-color: #363636;
  padding: 45px 0;
}

.nav-link--color {
  color: #a9a9a9;
}

.footer--bg .nav-link:hover {
  border-bottom: 1px solid white !important;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: bolder;
}

.footer-list {
  margin-bottom: 45px;
}
.pay-card {
  margin-right: 10px;
  margin-top: 10px;
  width: 1.9rem;
}

.footer-item .nav-link {
  font-size: 9px;
}

@media screen and (min-width: 395px) {
  .pay-cards {
    padding-right: 24px !important;
  }
}

@media screen and (min-width: 440px) {
  .pay-cards {
    padding-right: 42px !important;
  }
}

@media screen and (min-width: 480px) {
  .pay-card {
    width: 1.8rem;
  }

  .pay-cards {
    padding-right: 0 !important;
  }

  .footer-item .nav-link {
    font-size: 11px;
  }

  .footer-title {
    margin-bottom: 35px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer--bg .container {
    max-width: 740px;
  }

  .pay-card {
    width: 1.5rem;
  }

  .pay-cards {
    flex-wrap: nowrap !important;
  }
}

@media screen and (min-width: 900px) {
  .pay-cards {
    width: auto;
  }

  .footer--bg .container {
    max-width: 860px;
  }
}

@media screen and (min-width: 1200px) {
  .footer--bg .container {
    max-width: 1140px;
  }

  .pay-card {
    width: auto;
  }
}
