
body {
  font-family: "Poppins", sans-serif;
}


.carousel-thumbnails-item--hidden {
  display: none;
}

.al-mdl {
  margin-top: 50%;
  transform: translate(0, -50%);
}

.fur-gallary-title {
  color: $hover-color;
  border-bottom: 3px solid #e2e2e2;
  position: relative;
}

.fur-gallary-title::before {
  content: "";
  border-bottom: 3px solid $hover-color;
  width: 44px;
  position: absolute;
  bottom: -2px;
}

.tabs--font {
  font-size: 12px;
}

.container {
  min-width: 321px;
}

.nav-link--color {
  color: black;
  font-size: 9px;
}

.nav-link--color:hover {
  color: $hover-color;
}

.nav-link--color.active {
  color: $hover-color !important;
  border-top: 2px solid $hover-color !important;
  background-color: #f4f5f7 !important;
}

.carousel-thumbnails .carousel-indicators img {
  width: 100%;
  display: block;
}

.carousel-thumbnails .carousel-indicators li {
  width: auto;
  height: auto;
  border: none;
  overflow: hidden;
  max-width: 70px;
  max-height: 70px;
}

.carousel-control--style {
  flex-basis: 35px;
  background-color: black;
  opacity: 1;
}

.carousel-control--style:hover {
  color: #da9f8a;
}

.carousel-img--size {
  width: 80%;
}

.carousel-item-bg-color {
  background-color: #f4f5f7;
}

.carousel-item--pad {
  padding-bottom: 40px;
}

.fur-feedback-title {
  font-size: 12px;
}

.list-bg {
  background-color: #d3d3d3 !important;
}

.fur-price {
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.fur-feedback {
  position: relative;
  margin-right: -10px;
  width: 160px;
  height: 65px;
  background-color: white;
  overflow: hidden;
}

.circle {
  position: absolute;
  background-color: black;
  border-radius: 60px;
  width: 65px;
  left: -50px;
  height: 65px;
  opacity: 0.5;
  z-index: 1;
}

.circle-text {
  color: white;
  font-size: 12px;
}

.fur-feedback::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: black;
  transform: rotate(-45deg);
  left: -25px;
  top: -25px;
}

.fur-feedback::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: black;
  transform: rotate(-45deg);
  right: -25px;
  bottom: -25px;
}

.rang {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.carousel-item-btns {
  font-size: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-btn {
  width: 27px;
  height: 27px;
  border: 1px solid black;
}

.carousel-btn:hover {
  color: $hover-color;
  border: 1px solid $hover-color;
}

.bedroom-wrapper {
  display: none;
}

.bedroom {
  background-color: #e8edf7;
  padding: 0 40px;
  padding-top: 30px;
}

.bedroom-img {
  left: 50%;
  transform: translate(-50%, 0);
  top: 220px;
}

.bdr-text1 {
  font-size: 44px;
  color: #79ae30;
}

.frm {
  font-size: 16px;
  color: #2a2a2a;
}

.brm-title {
  color: $hover-color;
  font-size: 33px;
  font-weight: 700;
}

.brm-btn {
  background-color: #79ae30;
  color: white;
}

@media screen and (min-width: 380px) {
  .fur-feedback {
    width: 180px;
    height: 75px;
  }

  .circle {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 440px) {
  .fur-price {
    bottom: 10px;
  }

  .fur-feedback {
    height: 80px;
    margin-right: -40px;
  }

  .circle {
    width: 75px;
    height: 75px;
  }
}

@media screen and (min-width: 480px) {
  .carousel-thumbnails-item--hidden {
    display: block;
  }

  .nav-link--color {
    font-size: 12px;
  }

  .carousel-item--pad {
    padding-bottom: 0;
  }

  .fur-price {
    right: 0;
    transform: none;
    left: auto;
  }

  .fur-feedback {
    margin-right: 0;
  }

  .circle {
    width: 75px;
    height: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 85%;
  }
}

@media screen and (min-width: 760px) {
  .gallary-slider-wrapper {
    width: 50% !important;
    padding: 0 15px;
  }

  .fur-gallary .container {
    max-width: 720px;
  }

  .bedroom-wrapper {
    display: block;
    width: 50%;
    padding: 0 15px;
  }
  .fur-feedback {
    margin-right: 0;
    width: 120px;
    height: 60px;
  }

  .fur-feedback-title {
    font-size: 9px;
  }

  .nav-link--color {
    font-size: 9px;
  }

  .circle {
    width: 65px;
    height: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .fur-gallary .container {
    max-width: 1140px;
  }

  .fur-gallary-title {
    font-size: 30px;
  }
  .carousel-thumbnails .carousel-indicators li {
    min-width: 70px;
    min-height: 70px;
  }
  .nav-link--color {
    font-size: 16px;
  }

  .carousel-btn {
    width: 35px;
    height: 35px;
  }

  .fur-price {
    bottom: 30px;
  }

  .circle-text .text-center {
    font-size: 16px;
  }

  .fur-feedback {
    margin-right: 0;
    width: 220px;
    height: 100px;
  }

  .fur-feedback-title {
    font-size: 16px;
  }

  .circle {
    width: 90px;
    height: 90px;
  }

  .carousel-control--style {
    min-width: 35px !important;
  }
}
