@import "../var";
// #loadMore{

// }

.fa-sync{
  font-size: 26px;
  color: #000;
  background: #eeeeee;
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 50%;

}

.furniture--hidden {
	display: none;
}

.furniture {
  margin-bottom: 50px;
//   &__box{
// 	display: none;
//   }
  &__title {
	font-size: 30px;
	font-weight: bold;
  }
  &__btn-circle{
	display: block;

  }

  &__card {
	margin: 0 auto;
	max-width: 230px;

	&:hover .furniture__card-price {
	  background: $golden;
	}

	&:hover .furniture__card-title {
	  color: $golden;
	}

	&:hover .furniture__card-cart {
	  display: flex;
	}

	&-img {
	  position: relative;
	  width: 262px;
	  height: 260px;
	  padding: 5px;
	  background-color: #f4f5f7;
	}

	&-title {
	  font-size: 16px;
	  font-weight: bold;
	}

	&-line {
	  background: #000;
	}

	&-price {
	  float: right;
	  font-weight: bold;
	  background: #000;
	  color: #fff;
	  padding: 6px;
	}

	&-exch {
	  border: 1px solid #000;
	}

	&-fav {
	  border: 1px solid #000;

	  &:hover {
		color: $golden;
		border: $golden;
	  }
	}

	&-cart {
	  display: none;
	  position: absolute;
	  bottom: 158px;
	  font-size: 11pt;
	  padding: 0 10px;
	  width: 100%;
	}

	&-view {
	  font-size: 12px;
	  background: #2a2a2a;
	  color: white;
	  padding: 12px 8px;
	}

	&-basket {
	  @extend .furniture__card-view
	}

	&__filters-title {
	  font-size: 14pt;
	  font-weight: 500;
	}
  }
}

