.top-slider {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(
      to bottom,
      rgb(214, 214, 214) 0%,
      rgba(214, 214, 214, 0.4) 50%,
      rgba(214, 214, 214, 0.1) 100%
    );
  }
  &__control-wrapper {
    padding: 0 15px;
  }

  &__control {
    background-color: #2a2a2a !important;
    opacity: 1;
    &:hover {
      background-color: $hover-color !important;
      opacity: 1;
    }
  }
}

.carousel-item-1 {
  background-image: url(../img/top-slider/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.carousel-item-2 {
  background-image: url(../img/top-slider/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.carousel-item__text-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
}

.carousel-item__title {
  font-size: 18px;
}

.carousel-item__subsc {
  font-size: 12px;
}

.carousel-item__text-wrapper {
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}

.top-slider__btn {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

@media screen and(min-width: 480px) {
  .carousel-item__text-wrapper {
    padding: 35px;
  }

  .carousel-item__title {
    font-size: 28px;
  }

  .carousel-item__subsc {
    font-size: 22px;
  }
}
@media screen and(min-width: 768px) {
  .carousel-item-1 {
    height: 450px;
  }
  .carousel-item-2 {
    height: 450px;
  }

  .carousel-item__text-wrapper {
    padding: 45px;
  }

  .carousel-item__title {
    font-size: 32px;
  }

  .carousel-item__subsc {
    font-size: 26px;
  }
}

@media screen and(min-width: 1200px) {
  .carousel-item-1 {
    background-position: center -190px;
  }

  .carousel-item__title {
    font-size: 46px;
  }

  .carousel-item__subsc {
    font-size: 34px;
  }
}
